{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.entur.io/stop-places/v1/read"}],"tags":[{"name":"Stop Place Register Entities","description":"REST API for stop place related NeTEx entities"}],"paths":{"/topographic-places":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementTopographicPlaces","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTopographicPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopographicPlace"}}}}}}}},"/topographic-places/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementTopographicPlaceById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTopographicPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/TopographicPlace"}}}}}}},"/topographic-places/{id}/versions":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementTopographicPlaceVersions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTopographicPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopographicPlace"}}}}}}}},"/topographic-places/{id}/versions/{version}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementTopographicPlaceVersion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTopographicPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/TopographicPlace"}}}}}}},"/tariff-zones":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementTariffZones","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"authorityRefs","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTariffZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TariffZone"}}}}}},"deprecated":true}},"/tariff-zones/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementTariffZoneById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTariffZone"}},"application/json":{"schema":{"$ref":"#/components/schemas/TariffZone"}}}}},"deprecated":true}},"/tariff-zones/{id}/versions":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementTariffZoneVersions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTariffZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TariffZone"}}}}}},"deprecated":true}},"/tariff-zones/{id}/versions/{version}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementTariffZoneVersion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTariffZone"}},"application/json":{"schema":{"$ref":"#/components/schemas/TariffZone"}}}}},"deprecated":true}},"/stop-places":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementStopPlaces","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"multimodal","in":"query","required":false,"schema":{"type":"string","enum":["parent","child","both"]}},{"name":"transportModes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["AIR","BUS","COACH","FERRY","METRO","RAIL","TROLLEY_BUS","TRAM","WATER","CABLEWAY","FUNICULAR","LIFT","SNOW_AND_ICE","OTHER"]}}},{"name":"stopPlaceTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["ONSTREET_BUS","ONSTREET_TRAM","AIRPORT","RAIL_STATION","METRO_STATION","BUS_STATION","COACH_STATION","TRAM_STATION","HARBOUR_PORT","FERRY_PORT","FERRY_STOP","LIFT_STATION","VEHICLE_RAIL_INTERCHANGE","OTHER"]}}},{"name":"topographicPlaceIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"quayIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StopPlace"}}}}}}}},"/stop-places/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementStopPlaceById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/StopPlace"}}}}}}},"/stop-places/{id}/versions":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementStopPlaceVersions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StopPlace"}}}}}}}},"/stop-places/{id}/versions/{version}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementStopPlaceVersion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/StopPlace"}}}}}}},"/stop-places/{id}/scheduled-stop-points":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementScheduledStopPointsForStopPlace","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementScheduledStopPointsInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScheduledStopPoint"}}}}}}}},"/stop-places/{id}/parkings":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementParkingByStopPlaceId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParkingsInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Parking"}}}}}}}},"/stop-places/{id}/children":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementStopPlaceChildren","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StopPlace"}}}}}}}},"/scheduled-stop-points":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementScheduledStopPoints","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementScheduledStopPointsInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScheduledStopPoint"}}}}}}}},"/scheduled-stop-points/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementScheduledStopPointById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementScheduledStopPoint"}},"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledStopPoint"}}}}}}},"/quays":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getQuays","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Quay"}}}}}}}},"/quays/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementQuayById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementQuay"}},"application/json":{"schema":{"$ref":"#/components/schemas/Quay"}}}}}}},"/quays/{id}/versions":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getQuayVersions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Quay"}}}}}}}},"/quays/{id}/versions/{version}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementQuayVersion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementQuay"}},"application/json":{"schema":{"$ref":"#/components/schemas/Quay"}}}}}}},"/quays/{id}/stop-place":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementStopPlaceByQuayId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/StopPlace"}}}}}}},"/parkings":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementParkings","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParkingsInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Parking"}}}}}}}},"/parkings/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementParkingById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParking"}},"application/json":{"schema":{"$ref":"#/components/schemas/Parking"}}}}}}},"/parkings/{id}/versions":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementParkingVersions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParkingsInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Parking"}}}}}}}},"/parkings/{id}/versions/{version}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementParkingVersion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParking"}},"application/json":{"schema":{"$ref":"#/components/schemas/Parking"}}}}}}},"/groups-of-tariff-zones":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementGroupsOfTariffZones","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementGroupsOfTariffZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupOfTariffZones"}}}}}}}},"/groups-of-tariff-zones/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementGroupOfTariffZonesById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementGroupOfTariffZones"}},"application/json":{"schema":{"$ref":"#/components/schemas/GroupOfTariffZones"}}}}}}},"/groups-of-stop-places":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementGroupOfStopPlaces","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementGroupsOfStopPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupOfStopPlaces"}}}}}}}},"/groups-of-stop-places/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getGroupOfStopPlacesById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupOfStopPlaces"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GroupOfStopPlaces"}}}}}}},"/fare-zones":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementFareZones","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"authorityRefs","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementFareZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FareZone"}}}}}}}},"/fare-zones/{id}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementFareZoneById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementFareZone"}},"application/json":{"schema":{"$ref":"#/components/schemas/FareZone"}}}}}}},"/fare-zones/{id}/versions":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementFareZoneVersions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementFareZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FareZone"}}}}}}}},"/fare-zones/{id}/versions/{version}":{"get":{"tags":["Stop Place Register Entities"],"operationId":"getJAXBElementFareZoneVersion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementFareZone"}},"application/json":{"schema":{"$ref":"#/components/schemas/FareZone"}}}}}}}},"components":{"schemas":{"AbstractRingPropertyType":{"type":"object","properties":{"abstractRing":{"$ref":"#/components/schemas/JAXBElementAbstractRingType"}}},"AbstractRingType":{},"Accesses_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"accessRefOrAccess":{"type":"array","items":{}}}},"AlternativeDescriptors":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"topographicPlaceDescriptor":{"type":"array","items":{"$ref":"#/components/schemas/TopographicPlaceDescriptor_VersionedChildStructure"},"xml":{"name":"TopographicPlaceDescriptor"}}},"required":["topographicPlaceDescriptor"]},"AlternativeText":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"alternativeTexts":{},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"dataManagedObjectRef":{"$ref":"#/components/schemas/VersionOfObjectRefStructure","xml":{"name":"DataManagedObjectRef"}},"text":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Text"}},"attributeName":{"type":"string","xml":{"attribute":true}},"useForLanguage":{"type":"string","xml":{"attribute":true}},"order":{"type":"integer","xml":{"attribute":true}}},"required":["text"]},"AlternativeTexts_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"alternativeText":{"type":"array","items":{"$ref":"#/components/schemas/AlternativeText"},"xml":{"name":"AlternativeText"}}},"required":["alternativeText"]},"BrandingRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"CodeType":{"type":"object","properties":{"value":{"type":"string"},"codeSpace":{"type":"string","xml":{"attribute":true}}}},"CodeWithAuthorityType":{"type":"object","properties":{"value":{"type":"string"},"codeSpace":{"type":"string","xml":{"attribute":true}}}},"CountryRef":{"type":"object","properties":{"value":{"type":"string"},"ref":{"type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AZ","AX","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BM","BN","BO","BR","BS","BT","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CS","CU","CV","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","ME","MC","MD","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","ST","SV","SY","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","YU","ZA","ZM","ZW"],"xml":{"attribute":true}},"refPrincipality":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"CountryRef","namespace":"http://www.netex.org.uk/netex"}},"CountryRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"countryRef":{"type":"array","items":{"$ref":"#/components/schemas/CountryRef"},"xml":{"name":"CountryRef"}}},"required":["countryRef"]},"DirectPositionType":{"type":"object","properties":{"value":{"type":"array","items":{"type":"number","format":"double"}},"srsName":{"type":"string","xml":{"attribute":true}},"srsDimension":{"type":"integer","xml":{"attribute":true}}}},"ExtensionsStructure":{"type":"object","properties":{"any":{"type":"array","items":{}}}},"InfoLinkStructure":{"type":"object","properties":{"value":{"type":"string"},"typeOfInfoLink":{"type":"array","items":{"type":"string","enum":["CONTACT","RESOURCE","INFO","IMAGE","DOCUMENT","TIMETABLE_DOCUMENT","FARE_SHEET","DATA_LICENCE","MAP","ICON","OTHER"]},"xml":{"attribute":true}}}},"InfoLinks":{"type":"object","properties":{"infoLink":{"type":"array","items":{"$ref":"#/components/schemas/InfoLinkStructure"},"xml":{"name":"InfoLink"}}},"required":["infoLink"]},"JAXBElementAbstractRingType":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/AbstractRingType"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"JAXBElementObject":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"JAXBElementPointRefStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/PointRefStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"JAXBElementTopographicPlacesInFrame_RelStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/TopographicPlacesInFrame_RelStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"KeyListStructure":{"type":"object","properties":{"keyValue":{"type":"array","items":{"$ref":"#/components/schemas/KeyValueStructure"},"xml":{"name":"KeyValue"}}},"required":["keyValue"]},"KeyValueStructure":{"type":"object","properties":{"key":{"type":"string","xml":{"name":"Key"}},"value":{"type":"string","xml":{"name":"Value"}},"typeOfKey":{"type":"string","xml":{"attribute":true}}},"required":["key","value"]},"LocationStructure":{"type":"object","properties":{"longitude":{"type":"number","xml":{"name":"Longitude"}},"latitude":{"type":"number","xml":{"name":"Latitude"}},"altitude":{"type":"number","xml":{"name":"Altitude"}},"pos":{"$ref":"#/components/schemas/DirectPositionType","xml":{"namespace":"http://www.opengis.net/gml/3.2"}},"precision":{"type":"number","xml":{"name":"Precision"}},"id":{"type":"string","xml":{"attribute":true}},"srsName":{"type":"string","xml":{"attribute":true}}}},"MultilingualString":{"type":"object","properties":{"value":{"type":"string"},"lang":{"type":"string","xml":{"attribute":true}},"textIdType":{"type":"string","xml":{"attribute":true}}}},"PointRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"PointRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"pointRef":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementPointRefStructure"}}}},"PolygonType":{"type":"object","properties":{"descriptionReference":{"$ref":"#/components/schemas/ReferenceType"},"identifier":{"$ref":"#/components/schemas/CodeWithAuthorityType"},"name":{"type":"array","items":{"$ref":"#/components/schemas/CodeType"}},"id":{"type":"string","xml":{"namespace":"http://www.opengis.net/gml/3.2","attribute":true}},"srsName":{"type":"string","xml":{"attribute":true}},"srsDimension":{"type":"integer","xml":{"attribute":true}},"exterior":{"$ref":"#/components/schemas/AbstractRingPropertyType"},"interior":{"type":"array","items":{"$ref":"#/components/schemas/AbstractRingPropertyType"}}}},"PrivateCodeStructure":{"type":"object","properties":{"value":{"type":"string"},"type":{"type":"string","xml":{"attribute":true}}}},"Projections_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"projectionRefOrProjection":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementObject"}}}},"PurposeOfGroupingRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"Qualify":{"type":"object","properties":{"qualifierName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"QualifierName"}},"topographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure","xml":{"name":"TopographicPlaceRef"}}},"required":["qualifierName"]},"ReferenceType":{"type":"object","properties":{"owns":{"type":"boolean","xml":{"attribute":true}},"nilReason":{"type":"array","items":{"type":"string"},"xml":{"attribute":true}}}},"SimplePoint_VersionStructure":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"location":{"$ref":"#/components/schemas/LocationStructure","xml":{"name":"Location"}}}},"TopographicPlace":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"description":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Description"}},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure","xml":{"name":"PurposeOfGroupingRef"}},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"PrivateCode"}},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure","xml":{"name":"Centroid"}},"polygon":{"$ref":"#/components/schemas/PolygonType","xml":{"name":"Polygon","namespace":"http://www.opengis.net/gml/3.2"}},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure","xml":{"name":"ParentZoneRef"}},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"isoCode":{"type":"string","xml":{"name":"IsoCode"}},"descriptor":{"$ref":"#/components/schemas/TopographicPlaceDescriptor_VersionedChildStructure","xml":{"name":"Descriptor"}},"alternativeDescriptors":{"$ref":"#/components/schemas/AlternativeDescriptors"},"topographicPlaceType":{"type":"string","enum":["CONTINENT","INTERREGION","COUNTRY","PRINCIPALITY","STATE","PROVINCE","REGION","COUNTY","AREA","CONURBATION","CITY","MUNICIPALITY","QUARTER","SUBURB","TOWN","URBAN_CENTRE","DISTRICT","PARISH","VILLAGE","HAMLET","PLACE_OF_INTEREST","OTHER","UNRECORDED"],"xml":{"name":"TopographicPlaceType"}},"placeCentre":{"type":"boolean","default":false,"xml":{"name":"PlaceCentre"}},"postCode":{"type":"string","xml":{"name":"PostCode"}},"countryRef":{"$ref":"#/components/schemas/CountryRef","xml":{"name":"CountryRef"}},"otherCountries":{"$ref":"#/components/schemas/CountryRefs_RelStructure"},"parentTopographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure","xml":{"name":"ParentTopographicPlaceRef"}},"adjacentPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"containedIn":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"accesses":{"$ref":"#/components/schemas/Accesses_RelStructure"}},"required":["descriptor"]},"TopographicPlaceDescriptor_VersionedChildStructure":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"qualify":{"$ref":"#/components/schemas/Qualify","xml":{"name":"Qualify"}}},"required":["name"]},"TopographicPlaceRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"TopographicPlaceRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"topographicPlaceRef":{"type":"array","items":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"},"xml":{"name":"TopographicPlaceRef"}}},"required":["topographicPlaceRef"]},"TopographicPlacesInFrame_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"topographicPlace":{"type":"array","items":{"$ref":"#/components/schemas/TopographicPlace"},"xml":{"name":"TopographicPlace"}}},"required":["topographicPlace"]},"TypeOfPlaceRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"TypeOfPlaceRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"typeOfPlaceRef":{"type":"array","items":{"$ref":"#/components/schemas/TypeOfPlaceRefStructure"},"xml":{"name":"TypeOfPlaceRef"}}}},"TypeOfZoneRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"TypeOfZoneRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"typeOfZoneRef":{"type":"array","items":{"$ref":"#/components/schemas/TypeOfZoneRefStructure"},"xml":{"name":"TypeOfZoneRef"}}}},"ValidBetween":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"description":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Description"}},"conditionedObjectRef":{"$ref":"#/components/schemas/VersionOfObjectRefStructure","xml":{"name":"ConditionedObjectRef"}},"withConditionRef":{"$ref":"#/components/schemas/ValidityConditionRefStructure","xml":{"name":"WithConditionRef"}},"fromDate":{"type":"string","format":"date-time","xml":{"name":"FromDate"}},"toDate":{"type":"string","format":"date-time","xml":{"name":"ToDate"}}},"xml":{"name":"ValidBetween","namespace":"http://www.netex.org.uk/netex"}},"ValidityConditionRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"ValidityConditions_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"validityConditionRefOrValidBetweenOrValidityCondition_":{"type":"array","items":{}}}},"VersionOfObjectRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"ZoneRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"JAXBElementTopographicPlace":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/TopographicPlace"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"JAXBElementTariffZonesInFrame_RelStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/TariffZonesInFrame_RelStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"JAXBElementZone_VersionStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/Zone_VersionStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"TariffZonesInFrame_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"tariffZone":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementZone_VersionStructure"}}}},"Zone_VersionStructure":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"description":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Description"}},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure","xml":{"name":"PurposeOfGroupingRef"}},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"PrivateCode"}},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure","xml":{"name":"Centroid"}},"polygon":{"$ref":"#/components/schemas/PolygonType","xml":{"name":"Polygon","namespace":"http://www.opengis.net/gml/3.2"}},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure","xml":{"name":"ParentZoneRef"}}}},"PresentationStructure":{"type":"object","properties":{"colour":{"type":"string","format":"byte","xml":{"name":"Colour"}},"colourName":{"type":"string","xml":{"name":"ColourName"}},"colourSystem":{"type":"string","xml":{"name":"ColourSystem"}},"backgroundColour":{"type":"string","format":"byte","xml":{"name":"BackgroundColour"}},"backgroundColourName":{"type":"string","xml":{"name":"BackgroundColourName"}},"textColour":{"type":"string","format":"byte","xml":{"name":"TextColour"}},"textColourName":{"type":"string","xml":{"name":"TextColourName"}},"textFont":{"type":"string","xml":{"name":"TextFont"}},"textFontName":{"type":"string","xml":{"name":"TextFontName"}},"textLanguage":{"type":"string","xml":{"name":"TextLanguage"}},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"}}},"PrintPresentationStructure":{"type":"object","properties":{"colour":{"type":"string","xml":{"name":"Colour"}},"colourName":{"type":"string","xml":{"name":"ColourName"}},"colourSystem":{"type":"string","xml":{"name":"ColourSystem"}},"backgroundColour":{"type":"string","format":"byte","xml":{"name":"BackgroundColour"}},"backgroundColourName":{"type":"string","xml":{"name":"BackgroundColourName"}},"textColour":{"type":"string","xml":{"name":"TextColour"}},"textColourName":{"type":"string","xml":{"name":"TextColourName"}},"textFont":{"type":"string","xml":{"name":"TextFont"}},"textFontName":{"type":"string","xml":{"name":"TextFontName"}},"textLanguage":{"type":"string","xml":{"name":"TextLanguage"}},"fontSize":{"type":"string","enum":["VERY_SMALL","SMALL","MEDIUM","LARGE","VERY_LARGE"],"xml":{"name":"FontSize"}}}},"TariffZone":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"description":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Description"}},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure","xml":{"name":"PurposeOfGroupingRef"}},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"PrivateCode"}},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure","xml":{"name":"Centroid"}},"polygon":{"$ref":"#/components/schemas/PolygonType","xml":{"name":"Polygon","namespace":"http://www.opengis.net/gml/3.2"}},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure","xml":{"name":"ParentZoneRef"}},"presentation":{"$ref":"#/components/schemas/PresentationStructure","xml":{"name":"Presentation"}},"printedPresentation":{"$ref":"#/components/schemas/PrintPresentationStructure","xml":{"name":"PrintedPresentation"}}}},"JAXBElementTariffZone":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/TariffZone"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"AccessSpaces_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"accessSpaceRefOrAccessSpace":{"type":"array","items":{}}}},"AccessibilityAssessment":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"mobilityImpairedAccess":{"type":"string","enum":["TRUE","FALSE","UNKNOWN","PARTIAL"],"xml":{"name":"MobilityImpairedAccess"}},"limitations":{"$ref":"#/components/schemas/AccessibilityLimitations_RelStructure"},"suitabilities":{"$ref":"#/components/schemas/Suitabilities_RelStructure"},"comment":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Comment"}}},"required":["mobilityImpairedAccess"]},"AccessibilityLimitation":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"wheelchairAccess":{"type":"string","default":"false","enum":["TRUE","FALSE","UNKNOWN","PARTIAL"],"xml":{"name":"WheelchairAccess"}},"stepFreeAccess":{"type":"string","default":"unknown","enum":["TRUE","FALSE","UNKNOWN","PARTIAL"],"xml":{"name":"StepFreeAccess"}},"escalatorFreeAccess":{"type":"string","default":"unknown","enum":["TRUE","FALSE","UNKNOWN","PARTIAL"],"xml":{"name":"EscalatorFreeAccess"}},"liftFreeAccess":{"type":"string","default":"unknown","enum":["TRUE","FALSE","UNKNOWN","PARTIAL"],"xml":{"name":"LiftFreeAccess"}},"audibleSignalsAvailable":{"type":"string","default":"false","enum":["TRUE","FALSE","UNKNOWN","PARTIAL"],"xml":{"name":"AudibleSignalsAvailable"}},"visualSignsAvailable":{"type":"string","default":"unknown","enum":["TRUE","FALSE","UNKNOWN","PARTIAL"],"xml":{"name":"VisualSignsAvailable"}}},"required":["wheelchairAccess"],"xml":{"name":"AccessibilityLimitation","namespace":"http://www.netex.org.uk/netex"}},"AccessibilityLimitations_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"accessibilityLimitation":{"$ref":"#/components/schemas/AccessibilityLimitation","xml":{"name":"AccessibilityLimitation"}}},"required":["accessibilityLimitation"]},"AddressRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"AlternativeName":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"namedObjectRef":{"$ref":"#/components/schemas/VersionOfObjectRefStructure","xml":{"name":"NamedObjectRef"}},"lang":{"type":"string","xml":{"name":"Lang"}},"nameType":{"type":"string","default":"alias","enum":["ALIAS","TRANSLATION","COPY","LABEL","OTHER"],"xml":{"name":"NameType"}},"typeOfName":{"type":"string","xml":{"name":"TypeOfName"}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"abbreviation":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Abbreviation"}},"qualifierName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"QualifierName"}},"order":{"type":"integer","xml":{"attribute":true}}},"required":["name"]},"AlternativeNames_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"alternativeName":{"type":"array","items":{"$ref":"#/components/schemas/AlternativeName"},"xml":{"name":"AlternativeName"}}},"required":["alternativeName"]},"ContactStructure":{"type":"object","properties":{"contactPerson":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ContactPerson"}},"email":{"type":"string","xml":{"name":"Email"}},"phone":{"type":"string","xml":{"name":"Phone"}},"fax":{"type":"string","xml":{"name":"Fax"}},"url":{"type":"string","xml":{"name":"Url"}},"furtherDetails":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"FurtherDetails"}}}},"EquipmentPlaces_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"equipmentPlaceRefOrEquipmentPlace":{"type":"array","items":{}}}},"ExplicitEquipments_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"installedEquipmentRefOrInstalledEquipmentOrLocalServiceRef":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementObject"}}}},"JAXBElementOrganisationRefStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/OrganisationRefStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"JAXBElementSiteRefStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/SiteRefStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"JAXBElementStopPlacesInFrame_RelStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/StopPlacesInFrame_RelStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"LanguageUsageStructure":{"type":"object","properties":{"language":{"type":"string","xml":{"name":"Language"}},"languageUse":{"type":"array","items":{"type":"string","enum":["NORMALLY_USED","UNDERSTOOD","NATIVE","SPOKEN","WRITTEN","READ","OTHER","ALL_USES"],"xml":{"name":"LanguageUse"}},"xml":{"name":"LanguageUse"}}},"required":["language","languageUse"]},"Languages":{"type":"object","properties":{"languageUsage":{"type":"array","items":{"$ref":"#/components/schemas/LanguageUsageStructure"},"xml":{"name":"LanguageUsage"}}}},"Levels_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"levelRefOrLevel":{"type":"array","items":{}}}},"LocalServices_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"localServiceRefOrLocalService":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementObject"}}}},"LocaleStructure":{"type":"object","properties":{"timeZoneOffset":{"type":"number","xml":{"name":"TimeZoneOffset"}},"timeZone":{"type":"string","xml":{"name":"TimeZone"}},"summerTimeZoneOffset":{"type":"number","xml":{"name":"SummerTimeZoneOffset"}},"summerTimeZone":{"type":"string","xml":{"name":"SummerTimeZone"}},"defaultLanguage":{"type":"string","xml":{"name":"DefaultLanguage"}},"languages":{"$ref":"#/components/schemas/Languages"}}},"NavigationPaths_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"navigationPathRefOrNavigationPath":{"type":"array","items":{}}}},"OrganisationRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"Organisation_DerivedViewStructure":{"type":"object","properties":{"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"id":{"type":"string","xml":{"attribute":true}},"organisationRef":{"$ref":"#/components/schemas/JAXBElementOrganisationRefStructure"},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"legalName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"LegalName"}},"tradingName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"TradingName"}},"alternativeNames":{"$ref":"#/components/schemas/AlternativeNames_RelStructure"},"contactDetails":{"$ref":"#/components/schemas/ContactStructure","xml":{"name":"ContactDetails"}}}},"PathJunctions_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"pathJunctionRefOrPathJunction":{"type":"array","items":{}}}},"PlaceEquipments_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"installedEquipmentRefOrInstalledEquipment":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementObject"}}}},"PostalAddress":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"description":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Description"}},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure","xml":{"name":"PurposeOfGroupingRef"}},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"PrivateCode"}},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure","xml":{"name":"Centroid"}},"polygon":{"$ref":"#/components/schemas/PolygonType","xml":{"name":"Polygon","namespace":"http://www.opengis.net/gml/3.2"}},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure","xml":{"name":"ParentZoneRef"}},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"countryRef":{"$ref":"#/components/schemas/CountryRef","xml":{"name":"CountryRef"}},"countryName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"CountryName"}},"houseNumber":{"type":"string","xml":{"name":"HouseNumber"}},"buildingName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"BuildingName"}},"addressLine1":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"AddressLine1"}},"addressLine2":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"AddressLine2"}},"street":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Street"}},"town":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Town"}},"suburb":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Suburb"}},"postCode":{"type":"string","xml":{"name":"PostCode"}},"postCodeExtension":{"type":"string","xml":{"name":"PostCodeExtension"}},"postalRegion":{"type":"string","xml":{"name":"PostalRegion"}},"province":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Province"}},"roadAddressRef":{"$ref":"#/components/schemas/AddressRefStructure","xml":{"name":"RoadAddressRef"}}}},"Quays_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"quayRefOrQuay":{"type":"array","items":{}}}},"RoadAddress":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"description":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Description"}},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure","xml":{"name":"PurposeOfGroupingRef"}},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"PrivateCode"}},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure","xml":{"name":"Centroid"}},"polygon":{"$ref":"#/components/schemas/PolygonType","xml":{"name":"Polygon","namespace":"http://www.opengis.net/gml/3.2"}},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure","xml":{"name":"ParentZoneRef"}},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"countryRef":{"$ref":"#/components/schemas/CountryRef","xml":{"name":"CountryRef"}},"countryName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"CountryName"}},"gisFeatureRef":{"type":"string","xml":{"name":"GisFeatureRef"}},"roadNumber":{"type":"string","xml":{"name":"RoadNumber"}},"roadName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"RoadName"}},"bearingCompass":{"type":"string","enum":["SW","SE","NW","NE","W","E","S","N"],"xml":{"name":"BearingCompass"}},"bearingDegrees":{"type":"integer","xml":{"name":"BearingDegrees"}},"oddNumberRange":{"$ref":"#/components/schemas/RoadNumberRangeStructure","xml":{"name":"OddNumberRange"}},"evenNumberRange":{"$ref":"#/components/schemas/RoadNumberRangeStructure","xml":{"name":"EvenNumberRange"}}}},"RoadNumberRangeStructure":{"type":"object","properties":{"fromNumber":{"type":"integer","xml":{"name":"FromNumber"}},"toNumber":{"type":"integer","xml":{"name":"ToNumber"}}}},"SiteEntrances_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"entranceRefOrEntrance":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementObject"}}}},"SiteFacilitySets_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"siteFacilitySetRefOrSiteFacilitySet":{"type":"array","items":{}}}},"SitePathLinks_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"pathLinkRefOrSitePathLink":{"type":"array","items":{}}}},"SiteRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"SiteRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"siteRef":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementSiteRefStructure"}}}},"StopPlace":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"description":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Description"}},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure","xml":{"name":"PurposeOfGroupingRef"}},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"PrivateCode"}},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure","xml":{"name":"Centroid"}},"polygon":{"$ref":"#/components/schemas/PolygonType","xml":{"name":"Polygon","namespace":"http://www.opengis.net/gml/3.2"}},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure","xml":{"name":"ParentZoneRef"}},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"url":{"type":"string","xml":{"name":"Url"}},"image":{"type":"string","xml":{"name":"Image"}},"postalAddress":{"$ref":"#/components/schemas/PostalAddress","xml":{"name":"PostalAddress"}},"roadAddress":{"$ref":"#/components/schemas/RoadAddress","xml":{"name":"RoadAddress"}},"accessibilityAssessment":{"$ref":"#/components/schemas/AccessibilityAssessment","xml":{"name":"AccessibilityAssessment"}},"accessModes":{"type":"array","items":{"type":"string","enum":["FOOT","BICYCLE","BOAT","CAR","TAXI","SHUTTLE","SKI","SKATE"],"xml":{"name":"AccessModes"}},"xml":{"name":"AccessModes"}},"nameSuffix":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"NameSuffix"}},"alternativeNames":{"$ref":"#/components/schemas/AlternativeNames_RelStructure"},"crossRoad":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"CrossRoad"}},"landmark":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Landmark"}},"publicUse":{"type":"string","default":"all","enum":["ALL","DISABLED_PUBLIC_ONLY","AUTHORISED_PUBLIC_ONLY","STAFF_ONLY","PUBLIC_ONLY"],"xml":{"name":"PublicUse"}},"covered":{"type":"string","default":"indoors","enum":["INDOORS","OUTDOORS","COVERED","MIXED","UNKNOWN"],"xml":{"name":"Covered"}},"gated":{"type":"string","enum":["GATED_AREA","OPEN_AREA","UNKNOWN"],"xml":{"name":"Gated"}},"lighting":{"type":"string","default":"wellLit","enum":["WELL_LIT","POORLY_LIT","UNLIT","UNKNOWN","OTHER"],"xml":{"name":"Lighting"}},"allAreasWheelchairAccessible":{"type":"boolean","default":true,"xml":{"name":"AllAreasWheelchairAccessible"}},"personCapacity":{"type":"integer","xml":{"name":"PersonCapacity"}},"facilities":{"$ref":"#/components/schemas/SiteFacilitySets_RelStructure"},"topographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure","xml":{"name":"TopographicPlaceRef"}},"topographicPlaceView":{"$ref":"#/components/schemas/TopographicPlaceView","xml":{"name":"TopographicPlaceView"}},"additionalTopographicPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"siteType":{"type":"string","enum":["SCHOOL","UNIVERSITY","WORKS","OFFICE","MILITARY_BASE","RETAIL","OTHER"],"xml":{"name":"SiteType"}},"atCentre":{"type":"boolean","xml":{"name":"AtCentre"}},"locale":{"$ref":"#/components/schemas/LocaleStructure","xml":{"name":"Locale"}},"organisationRef":{"$ref":"#/components/schemas/JAXBElementOrganisationRefStructure"},"operatingOrganisationView":{"$ref":"#/components/schemas/Organisation_DerivedViewStructure","xml":{"name":"OperatingOrganisationView"}},"parentSiteRef":{"$ref":"#/components/schemas/SiteRefStructure","xml":{"name":"ParentSiteRef"}},"adjacentSites":{"$ref":"#/components/schemas/SiteRefs_RelStructure"},"containedInPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure","xml":{"name":"ContainedInPlaceRef"}},"levels":{"$ref":"#/components/schemas/Levels_RelStructure"},"entrances":{"$ref":"#/components/schemas/SiteEntrances_RelStructure"},"equipmentPlaces":{"$ref":"#/components/schemas/EquipmentPlaces_RelStructure"},"placeEquipments":{"$ref":"#/components/schemas/PlaceEquipments_RelStructure"},"localServices":{"$ref":"#/components/schemas/LocalServices_RelStructure"},"publicCode":{"type":"string","xml":{"name":"PublicCode"}},"transportMode":{"type":"string","enum":["AIR","BUS","COACH","FERRY","METRO","RAIL","TROLLEY_BUS","TRAM","WATER","CABLEWAY","FUNICULAR","LIFT","SNOW_AND_ICE","OTHER"],"xml":{"name":"TransportMode"}},"airSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","UNDEFINED","INTERNATIONAL_FLIGHT","DOMESTIC_FLIGHT","INTERCONTINENTAL_FLIGHT","DOMESTIC_SCHEDULED_FLIGHT","SHUTTLE_FLIGHT","INTERCONTINENTAL_CHARTER_FLIGHT","INTERNATIONAL_CHARTER_FLIGHT","ROUND_TRIP_CHARTER_FLIGHT","SIGHTSEEING_FLIGHT","HELICOPTER_SERVICE","DOMESTIC_CHARTER_FLIGHT","SCHENGEN_AREA_FLIGHT","AIRSHIP_SERVICE","SHORT_HAUL_INTERNATIONAL_FLIGHT"],"xml":{"name":"AirSubmode"}},"busSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","UNDEFINED","LOCAL_BUS","REGIONAL_BUS","EXPRESS_BUS","NIGHT_BUS","POST_BUS","SPECIAL_NEEDS_BUS","MOBILITY_BUS","MOBILITY_BUS_FOR_REGISTERED_DISABLED","SIGHTSEEING_BUS","SHUTTLE_BUS","HIGH_FREQUENCY_BUS","DEDICATED_LANE_BUS","SCHOOL_BUS","SCHOOL_AND_PUBLIC_SERVICE_BUS","RAIL_REPLACEMENT_BUS","DEMAND_AND_RESPONSE_BUS","AIRPORT_LINK_BUS"],"xml":{"name":"BusSubmode"}},"coachSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","UNDEFINED","INTERNATIONAL_COACH","NATIONAL_COACH","SHUTTLE_COACH","REGIONAL_COACH","SPECIAL_COACH","SCHOOL_COACH","SIGHTSEEING_COACH","TOURIST_COACH","COMMUTER_COACH"],"xml":{"name":"CoachSubmode"}},"funicularSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","FUNICULAR","STREET_CABLE_CAR","ALL_FUNICULAR_SERVICES","UNDEFINED_FUNICULAR"],"xml":{"name":"FunicularSubmode"}},"metroSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","UNDEFINED","METRO","TUBE","URBAN_RAILWAY"],"xml":{"name":"MetroSubmode"}},"tramSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","UNDEFINED","CITY_TRAM","LOCAL_TRAM","REGIONAL_TRAM","SIGHTSEEING_TRAM","SHUTTLE_TRAM","TRAIN_TRAM"],"xml":{"name":"TramSubmode"}},"telecabinSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","UNDEFINED","TELECABIN","CABLE_CAR","LIFT","CHAIR_LIFT","DRAG_LIFT","TELECABIN_LINK"],"xml":{"name":"TelecabinSubmode"}},"railSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","LOCAL","HIGH_SPEED_RAIL","SUBURBAN_RAILWAY","REGIONAL_RAIL","INTERREGIONAL_RAIL","LONG_DISTANCE","INTERNATIONAL","SLEEPER_RAIL_SERVICE","NIGHT_RAIL","CAR_TRANSPORT_RAIL_SERVICE","TOURIST_RAILWAY","AIRPORT_LINK_RAIL","RAIL_SHUTTLE","REPLACEMENT_RAIL_SERVICE","SPECIAL_TRAIN","CROSS_COUNTRY_RAIL","RACK_AND_PINION_RAILWAY"],"xml":{"name":"RailSubmode"}},"waterSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","UNDEFINED","INTERNATIONAL_CAR_FERRY","NATIONAL_CAR_FERRY","REGIONAL_CAR_FERRY","LOCAL_CAR_FERRY","INTERNATIONAL_PASSENGER_FERRY","NATIONAL_PASSENGER_FERRY","REGIONAL_PASSENGER_FERRY","LOCAL_PASSENGER_FERRY","POST_BOAT","TRAIN_FERRY","ROAD_FERRY_LINK","AIRPORT_BOAT_LINK","HIGH_SPEED_VEHICLE_SERVICE","HIGH_SPEED_PASSENGER_SERVICE","SIGHTSEEING_SERVICE","SCHOOL_BOAT","CABLE_FERRY","RIVER_BUS","SCHEDULED_FERRY","SHUTTLE_FERRY_SERVICE","CANAL_BARGE"],"xml":{"name":"WaterSubmode"}},"snowAndIceSubmode":{"type":"string","default":"unknown","enum":["UNKNOWN","UNDEFINED","SNOW_MOBILE","SNOW_CAT","SNOW_COACH","TERRA_BUS","WIND_SLED"],"xml":{"name":"SnowAndIceSubmode"}},"otherTransportModes":{"type":"array","items":{"type":"string","enum":["AIR","BUS","COACH","FERRY","METRO","RAIL","TROLLEY_BUS","TRAM","WATER","CABLEWAY","FUNICULAR","LIFT","SNOW_AND_ICE","OTHER"],"xml":{"name":"OtherTransportModes"}},"xml":{"name":"OtherTransportModes"}},"tariffZones":{"$ref":"#/components/schemas/TariffZoneRefs_RelStructure"},"stopPlaceType":{"type":"string","enum":["ONSTREET_BUS","ONSTREET_TRAM","AIRPORT","RAIL_STATION","METRO_STATION","BUS_STATION","COACH_STATION","TRAM_STATION","HARBOUR_PORT","FERRY_PORT","FERRY_STOP","LIFT_STATION","VEHICLE_RAIL_INTERCHANGE","OTHER"],"xml":{"name":"StopPlaceType"}},"borderCrossing":{"type":"boolean","default":false,"xml":{"name":"BorderCrossing"}},"unlocalisedEquipments":{"$ref":"#/components/schemas/ExplicitEquipments_RelStructure"},"servedPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"mainTerminusForPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"limitedUse":{"type":"string","enum":["INTERCHANGE_ONLY","NO_DIRECT_ROAD_ACCESS","LONG_WALK_TO_ACCESS","ISOLATED","LIMITED_SERVICE","OTHER"],"xml":{"name":"LimitedUse"}},"weighting":{"type":"string","enum":["NO_INTERCHANGE","INTERCHANGE_ALLOWED","RECOMMENDED_INTERCHANGE","PREFERRED_INTERCHANGE"],"xml":{"name":"Weighting"}},"stopPlaceWeight":{"type":"string","enum":["INTERNATIONAL","NATIONAL","REGIONAL","LOCAL"],"xml":{"name":"StopPlaceWeight"}},"quays":{"$ref":"#/components/schemas/Quays_RelStructure"},"accessSpaces":{"$ref":"#/components/schemas/AccessSpaces_RelStructure"},"pathLinks":{"$ref":"#/components/schemas/SitePathLinks_RelStructure"},"pathJunctions":{"$ref":"#/components/schemas/PathJunctions_RelStructure"},"accesses":{"$ref":"#/components/schemas/Accesses_RelStructure"},"navigationPaths":{"$ref":"#/components/schemas/NavigationPaths_RelStructure"},"vehicleStoppingPlaces":{"$ref":"#/components/schemas/VehicleStoppingPlaces_RelStructure"}}},"StopPlacesInFrame_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"stopPlace":{"type":"array","items":{"$ref":"#/components/schemas/StopPlace"},"xml":{"name":"StopPlace"}}},"required":["stopPlace"]},"Suitabilities_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"suitability":{"type":"array","items":{"$ref":"#/components/schemas/Suitability"},"xml":{"name":"Suitability"}}},"required":["suitability"]},"Suitability":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"mobilityNeed":{"type":"string","enum":["WHEELCHAIR","ASSISTED_WHEELCHAIR","MOTORIZED_WHEELCHAIR","MOBILITY_SCOOTER","ROAD_MOBILITY_SCOOTER","WALKING_FRAME","RESTRICTED_MOBILITY","OTHER_MOBILITY_NEED","NORMAL"],"xml":{"name":"MobilityNeed"}},"psychosensoryNeed":{"type":"string","enum":["VISUAL_IMPAIRMENT","AUDITORY_IMPAIRMENT","COGNITIVE_INPUT_IMPAIRMENT","AVERSE_TO_LIFTS","AVERSE_TO_ESCALATORS","AVERSE_TO_CONFINED_SPACES","AVERSE_TO_CROWDS","OTHER_PSYCHOSENSORY_NEED"],"xml":{"name":"PsychosensoryNeed"}},"medicalNeed":{"type":"string","enum":["ALLERGIC","HEART_CONDITION","OTHER_MEDICAL_NEED"],"xml":{"name":"MedicalNeed"}},"encumbranceNeed":{"type":"string","enum":["LUGGAGE_ENCUMBERED","PUSHCHAIR","BAGGAGE_TROLLEY","OVERSIZE_BAGGAGE","GUIDE_DOG","OTHER_ANIMAL","OTHER_ENCUMBRANCE_NEED"],"xml":{"name":"EncumbranceNeed"}},"excluded":{"type":"boolean","xml":{"name":"Excluded"}},"needRanking":{"type":"integer","xml":{"name":"NeedRanking"}},"suitable":{"type":"string","enum":["SUITABLE","NOT_SUITABLE"],"xml":{"name":"Suitable"}}},"required":["suitable"],"xml":{"name":"Suitability","namespace":"http://www.netex.org.uk/netex"}},"TariffZoneRef":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"TariffZoneRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"tariffZoneRef":{"type":"array","items":{"$ref":"#/components/schemas/TariffZoneRef"},"xml":{"name":"TariffZoneRef"}}},"required":["tariffZoneRef"]},"TopographicPlaceView":{"type":"object","properties":{"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"id":{"type":"string","xml":{"attribute":true}},"topographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure","xml":{"name":"TopographicPlaceRef"}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"qualifierName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"QualifierName"}},"countryRef":{"$ref":"#/components/schemas/CountryRef","xml":{"name":"CountryRef"}}}},"VehicleStoppingPlaces_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"vehicleStoppingPlaceRefOrVehicleStoppingPlace":{"type":"array","items":{}}}},"JAXBElementStopPlace":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/StopPlace"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"ExternalObjectRefStructure":{"type":"object","properties":{"value":{"type":"string"},"type":{"type":"string","xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}}}},"GroupMembershipRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","enum":["ALL","CHANGES_ONLY"],"xml":{"attribute":true}},"groupOfPointsRef_":{"type":"array","items":{"$ref":"#/components/schemas/JAXBElementGroupOfEntitiesRefStructure"}}}},"GroupOfEntitiesRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"JAXBElementGroupOfEntitiesRefStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/GroupOfEntitiesRefStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"JAXBElementScheduledStopPointsInFrame_RelStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/ScheduledStopPointsInFrame_RelStructure"},"nil":{"type":"boolean"},"typeSubstituted":{"type":"boolean"},"globalScope":{"type":"boolean"}}},"ScheduledStopPoint":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","items":{"$ref":"#/components/schemas/ValidBetween"},"xml":{"name":"ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"],"xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","enum":["ACTIVE","INACTIVE","OTHER"],"xml":{"name":"status","attribute":true}},"publication":{"type":"string","enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"],"xml":{"attribute":true}},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure","xml":{"name":"Extensions"}},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure","xml":{"name":"BrandingRef"}},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Name"}},"location":{"$ref":"#/components/schemas/LocationStructure","xml":{"name":"Location"}},"pointNumber":{"type":"string","xml":{"name":"PointNumber"}},"types":{"$ref":"#/components/schemas/TypeOfPointRefs_RelStructure"},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"groupMemberships":{"$ref":"#/components/schemas/GroupMembershipRefs_RelStructure"},"timingPointStatus":{"type":"string","enum":["TIMING_POINT","SECONDARY_TIMING_POINT","NOT_TIMING_POINT"],"xml":{"name":"TimingPointStatus"}},"allowedForWaitTime":{"type":"string","xml":{"name":"AllowedForWaitTime"}},"stopAreas":{"$ref":"#/components/schemas/StopAreaRefs_RelStructure"},"tariffZones":{"$ref":"#/components/schemas/TariffZoneRefs_RelStructure"},"shortName":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"ShortName"}},"nameSuffix":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"NameSuffix"}},"description":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Description"}},"label":{"$ref":"#/components/schemas/MultilingualString","xml":{"name":"Label"}},"shortStopCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"ShortStopCode"}},"publicCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"PublicCode"}},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure","xml":{"name":"PrivateCode"}},"externalStopPointRef":{"$ref":"#/components/schemas/ExternalObjectRefStructure","xml":{"name":"ExternalStopPointRef"}},"url":{"type":"string","xml":{"name":"Url"}},"stopType":{"type":"string","enum":["ONSTREET_BUS","ONSTREET_TRAM","AIRPORT","RAIL_STATION","METRO_STATION","BUS_STATION","COACH_STATION","TRAM_STATION","HARBOUR_PORT","FERRY_PORT","FERRY_STOP","LIFT_STATION","VEHICLE_RAIL_INTERCHANGE","OTHER"],"xml":{"name":"StopType"}},"compassBearing":{"type":"number","format":"float","xml":{"name":"CompassBearing"}},"presentation":{"$ref":"#/components/schemas/PresentationStructure","xml":{"name":"Presentation"}},"vehicleModes":{"type":"array","items":{"type":"string","enum":["AIR","BUS","COACH","FERRY","METRO","RAIL","TROLLEY_BUS","TRAM","WATER","CABLEWAY","FUNICULAR","LIFT","SNOW_AND_ICE","OTHER"],"xml":{"name":"VehicleModes"}},"xml":{"name":"VehicleModes"}},"forAlight
[...]
