{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.entur.io/stop-places/v1/read"}],"paths":{"/topographic-places":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementTopographicPlaces_1","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTopographicPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopographicPlace"}}}}}}}},"/topographic-places/{id}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementTopographicPlaceById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTopographicPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/TopographicPlace"}}}}}}},"/topographic-places/{id}/versions":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementTopographicPlaceVersions_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTopographicPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopographicPlace"}}}}}}}},"/topographic-places/{id}/versions/{version}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementTopographicPlaceVersion_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTopographicPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/TopographicPlace"}}}}}}},"/tariff-zones":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementTariffZones_1","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"authorityRefs","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTariffZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TariffZone"}}}}}}}},"/tariff-zones/{id}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementTariffZoneById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTariffZone"}},"application/json":{"schema":{"$ref":"#/components/schemas/TariffZone"}}}}}}},"/tariff-zones/{id}/versions":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementTariffZoneVersions_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTariffZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TariffZone"}}}}}}}},"/tariff-zones/{id}/versions/{version}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementTariffZoneVersion_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementTariffZone"}},"application/json":{"schema":{"$ref":"#/components/schemas/TariffZone"}}}}}}},"/stop-places":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementStopPlaces_1","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"multimodal","in":"query","required":false,"schema":{"type":"string","default":"both","enum":["parent","child","both"]}},{"name":"transportModes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["AIR","BUS","COACH","FERRY","METRO","RAIL","TROLLEY_BUS","TRAM","WATER","CABLEWAY","FUNICULAR","LIFT","SNOW_AND_ICE","OTHER"]}}},{"name":"stopPlaceTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["ONSTREET_BUS","ONSTREET_TRAM","AIRPORT","RAIL_STATION","METRO_STATION","BUS_STATION","COACH_STATION","TRAM_STATION","HARBOUR_PORT","FERRY_PORT","FERRY_STOP","LIFT_STATION","VEHICLE_RAIL_INTERCHANGE","OTHER"]}}},{"name":"topographicPlaceIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StopPlace"}}}}}}}},"/stop-places/{id}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementStopPlaceById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/StopPlace"}}}}}}},"/stop-places/{id}/versions":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementStopPlaceVersions_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StopPlace"}}}}}}}},"/stop-places/{id}/versions/{version}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementStopPlaceVersion_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/StopPlace"}}}}}}},"/stop-places/{id}/parkings":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementParkingByStopPlaceId_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParkingsInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Parking"}}}}}}}},"/stop-places/{id}/children":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementStopPlaceChildren_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StopPlace"}}}}}}}},"/quays":{"get":{"tags":["rest-resource"],"operationId":"getQuays","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Quay"}}}}}}}},"/quays/{id}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementQuayById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementQuay"}},"application/json":{"schema":{"$ref":"#/components/schemas/Quay"}}}}}}},"/quays/{id}/versions":{"get":{"tags":["rest-resource"],"operationId":"getQuayVersions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Quay"}}}}}}}},"/quays/{id}/versions/{version}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementQuayVersion_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementQuay"}},"application/json":{"schema":{"$ref":"#/components/schemas/Quay"}}}}}}},"/quays/{id}/stop-place":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementStopPlaceByQuayId_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementStopPlace"}},"application/json":{"schema":{"$ref":"#/components/schemas/StopPlace"}}}}}}},"/parkings":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementParkings_1","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParkingsInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Parking"}}}}}}}},"/parkings/{id}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementParkingById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParking"}},"application/json":{"schema":{"$ref":"#/components/schemas/Parking"}}}}}}},"/parkings/{id}/versions":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementParkingVersions_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParkingsInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Parking"}}}}}}}},"/parkings/{id}/versions/{version}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementParkingVersion_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementParking"}},"application/json":{"schema":{"$ref":"#/components/schemas/Parking"}}}}}}},"/groups-of-tariff-zones":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementGroupsOfTariffZones_1","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementGroupsOfTariffZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupOfTariffZones"}}}}}}}},"/groups-of-tariff-zones/{id}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementGroupOfTariffZonesById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementGroupOfTariffZones"}},"application/json":{"schema":{"$ref":"#/components/schemas/GroupOfTariffZones"}}}}}}},"/groups-of-stop-places":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementGroupOfStopPlaces_1","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementGroupsOfStopPlacesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupOfStopPlaces"}}}}}}}},"/groups-of-stop-places/{id}":{"get":{"tags":["rest-resource"],"operationId":"getGroupOfStopPlacesById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/GroupOfStopPlaces"}},"application/json":{"schema":{"$ref":"#/components/schemas/GroupOfStopPlaces"}}}}}}},"/fare-zones":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementFareZones_1","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"authorityRefs","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementFareZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FareZone"}}}}}}}},"/fare-zones/{id}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementFareZoneById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementFareZone"}},"application/json":{"schema":{"$ref":"#/components/schemas/FareZone"}}}}}}},"/fare-zones/{id}/versions":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementFareZoneVersions_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementFareZonesInFrame_RelStructure"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FareZone"}}}}}}}},"/fare-zones/{id}/versions/{version}":{"get":{"tags":["rest-resource"],"operationId":"getJAXBElementFareZoneVersion_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/JAXBElementFareZone"}},"application/json":{"schema":{"$ref":"#/components/schemas/FareZone"}}}}}}}},"components":{"schemas":{"AbstractRingPropertyType":{"type":"object","properties":{"abstractRing":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}},"Accesses_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"accessRefOrAccess":{"type":"array","items":{"type":"object"}}}},"AlternativeDescriptors":{"required":["topographicPlaceDescriptor"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"topographicPlaceDescriptor":{"type":"array","xml":{"name":"TopographicPlaceDescriptor"},"items":{"$ref":"#/components/schemas/TopographicPlaceDescriptor_VersionedChildStructure"}}}},"AlternativeText":{"required":["text"],"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"dataManagedObjectRef":{"$ref":"#/components/schemas/VersionOfObjectRefStructure"},"text":{"$ref":"#/components/schemas/MultilingualString"},"attributeName":{"type":"string","xml":{"attribute":true}},"useForLanguage":{"type":"string","xml":{"attribute":true}},"order":{"type":"integer","xml":{"attribute":true}}}},"AlternativeTexts_RelStructure":{"required":["alternativeText"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"alternativeText":{"type":"array","xml":{"name":"AlternativeText"},"items":{"$ref":"#/components/schemas/AlternativeText"}}}},"BrandingRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"CodeType":{"type":"object","properties":{"value":{"type":"string"},"codeSpace":{"type":"string","xml":{"attribute":true}}}},"CodeWithAuthorityType":{"type":"object","properties":{"value":{"type":"string"},"codeSpace":{"type":"string","xml":{"attribute":true}}}},"CountryRef":{"type":"object","properties":{"value":{"type":"string"},"ref":{"type":"string","xml":{"attribute":true},"enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AZ","AX","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BM","BN","BO","BR","BS","BT","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CS","CU","CV","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","ME","MC","MD","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","ST","SV","SY","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","YU","ZA","ZM","ZW"]},"refPrincipality":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"CountryRef","namespace":"http://www.netex.org.uk/netex"}},"CountryRefs_RelStructure":{"required":["countryRef"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"countryRef":{"type":"array","xml":{"name":"CountryRef"},"items":{"$ref":"#/components/schemas/CountryRef"}}}},"DirectPositionType":{"type":"object","properties":{"value":{"type":"array","items":{"type":"number","format":"double"}},"srsName":{"type":"string","xml":{"attribute":true}},"srsDimension":{"type":"integer","xml":{"attribute":true}}}},"ExtensionsStructure":{"type":"object","properties":{"any":{"type":"array","items":{"type":"object"}}}},"InfoLinkStructure":{"type":"object","properties":{"value":{"type":"string"},"typeOfInfoLink":{"type":"array","items":{"type":"string","enum":["CONTACT","RESOURCE","INFO","IMAGE","DOCUMENT","TIMETABLE_DOCUMENT","FARE_SHEET","DATA_LICENCE","MAP","ICON","OTHER"]}}}},"InfoLinks":{"required":["infoLink"],"type":"object","properties":{"infoLink":{"type":"array","xml":{"name":"InfoLink"},"items":{"$ref":"#/components/schemas/InfoLinkStructure"}}}},"JAXBElementTopographicPlacesInFrame_RelStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/TopographicPlacesInFrame_RelStructure"},"nil":{"type":"boolean"},"globalScope":{"type":"boolean"},"typeSubstituted":{"type":"boolean"}}},"KeyListStructure":{"required":["keyValue"],"type":"object","properties":{"keyValue":{"type":"array","xml":{"name":"KeyValue"},"items":{"$ref":"#/components/schemas/KeyValueStructure"}}}},"KeyValueStructure":{"required":["key","value"],"type":"object","properties":{"key":{"type":"string","xml":{"name":"Key"}},"value":{"type":"string","xml":{"name":"Value"}},"typeOfKey":{"type":"string","xml":{"attribute":true}}}},"LocationStructure":{"type":"object","properties":{"longitude":{"type":"number","xml":{"name":"Longitude"}},"latitude":{"type":"number","xml":{"name":"Latitude"}},"altitude":{"type":"number","xml":{"name":"Altitude"}},"pos":{"$ref":"#/components/schemas/DirectPositionType"},"precision":{"type":"number","xml":{"name":"Precision"}},"id":{"type":"string","xml":{"attribute":true}},"srsName":{"type":"string","xml":{"attribute":true}}}},"MultilingualString":{"type":"object","properties":{"value":{"type":"string"},"lang":{"type":"string","xml":{"attribute":true}},"textIdType":{"type":"string","xml":{"attribute":true}}}},"PointRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"pointRef":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}}},"PolygonType":{"type":"object","properties":{"descriptionReference":{"$ref":"#/components/schemas/ReferenceType"},"identifier":{"$ref":"#/components/schemas/CodeWithAuthorityType"},"name":{"type":"array","items":{"$ref":"#/components/schemas/CodeType"}},"id":{"type":"string","xml":{"namespace":"http://www.opengis.net/gml/3.2","attribute":true}},"srsName":{"type":"string","xml":{"attribute":true}},"srsDimension":{"type":"integer","xml":{"attribute":true}},"exterior":{"$ref":"#/components/schemas/AbstractRingPropertyType"},"interior":{"type":"array","items":{"$ref":"#/components/schemas/AbstractRingPropertyType"}}}},"PrivateCodeStructure":{"type":"object","properties":{"value":{"type":"string"},"type":{"type":"string","xml":{"attribute":true}}}},"Projections_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"projectionRefOrProjection":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}}},"PurposeOfGroupingRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"Qualify":{"required":["qualifierName"],"type":"object","properties":{"qualifierName":{"$ref":"#/components/schemas/MultilingualString"},"topographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"}}},"ReferenceType":{"type":"object","properties":{"owns":{"type":"boolean","xml":{"attribute":true}},"nilReason":{"type":"array","items":{"type":"string"}}}},"SimplePoint_VersionStructure":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString"},"location":{"$ref":"#/components/schemas/LocationStructure"}}},"TopographicPlace":{"required":["descriptor"],"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"description":{"$ref":"#/components/schemas/MultilingualString"},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure"},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure"},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure"},"polygon":{"$ref":"#/components/schemas/PolygonType"},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure"},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"isoCode":{"type":"string","xml":{"name":"IsoCode"}},"descriptor":{"$ref":"#/components/schemas/TopographicPlaceDescriptor_VersionedChildStructure"},"alternativeDescriptors":{"$ref":"#/components/schemas/AlternativeDescriptors"},"topographicPlaceType":{"type":"string","xml":{"name":"TopographicPlaceType"},"enum":["CONTINENT","INTERREGION","COUNTRY","PRINCIPALITY","STATE","PROVINCE","REGION","COUNTY","AREA","CONURBATION","CITY","MUNICIPALITY","QUARTER","SUBURB","TOWN","URBAN_CENTRE","DISTRICT","PARISH","VILLAGE","HAMLET","PLACE_OF_INTEREST","OTHER","UNRECORDED"]},"placeCentre":{"type":"boolean","xml":{"name":"PlaceCentre"},"default":false},"postCode":{"type":"string","xml":{"name":"PostCode"}},"countryRef":{"$ref":"#/components/schemas/CountryRef"},"otherCountries":{"$ref":"#/components/schemas/CountryRefs_RelStructure"},"parentTopographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"},"adjacentPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"containedIn":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"accesses":{"$ref":"#/components/schemas/Accesses_RelStructure"}}},"TopographicPlaceDescriptor_VersionedChildStructure":{"required":["name"],"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"qualify":{"$ref":"#/components/schemas/Qualify"}}},"TopographicPlaceRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"TopographicPlaceRefs_RelStructure":{"required":["topographicPlaceRef"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"topographicPlaceRef":{"type":"array","xml":{"name":"TopographicPlaceRef"},"items":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"}}}},"TopographicPlacesInFrame_RelStructure":{"required":["topographicPlace"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"topographicPlace":{"type":"array","xml":{"name":"TopographicPlace"},"items":{"$ref":"#/components/schemas/TopographicPlace"}}}},"TypeOfPlaceRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"TypeOfPlaceRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"typeOfPlaceRef":{"type":"array","xml":{"name":"TypeOfPlaceRef"},"items":{"$ref":"#/components/schemas/TypeOfPlaceRefStructure"}}}},"TypeOfZoneRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"TypeOfZoneRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"typeOfZoneRef":{"type":"array","xml":{"name":"TypeOfZoneRef"},"items":{"$ref":"#/components/schemas/TypeOfZoneRefStructure"}}}},"ValidBetween":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString"},"description":{"$ref":"#/components/schemas/MultilingualString"},"conditionedObjectRef":{"$ref":"#/components/schemas/VersionOfObjectRefStructure"},"withConditionRef":{"$ref":"#/components/schemas/ValidityConditionRefStructure"},"fromDate":{"type":"string","format":"date-time","xml":{"name":"FromDate"}},"toDate":{"type":"string","format":"date-time","xml":{"name":"ToDate"}}},"xml":{"name":"ValidBetween","namespace":"http://www.netex.org.uk/netex"}},"ValidityConditionRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"ValidityConditions_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"validityConditionRefOrValidBetweenOrValidityCondition_":{"type":"array","items":{"type":"object"}}}},"VersionOfObjectRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"ZoneRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"JAXBElementTopographicPlace":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/TopographicPlace"},"nil":{"type":"boolean"},"globalScope":{"type":"boolean"},"typeSubstituted":{"type":"boolean"}}},"JAXBElementTariffZonesInFrame_RelStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/TariffZonesInFrame_RelStructure"},"nil":{"type":"boolean"},"globalScope":{"type":"boolean"},"typeSubstituted":{"type":"boolean"}}},"TariffZonesInFrame_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"tariffZone":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}}},"PresentationStructure":{"type":"object","properties":{"colour":{"type":"string","format":"byte","xml":{"name":"Colour"}},"colourName":{"type":"string","xml":{"name":"ColourName"}},"colourSystem":{"type":"string","xml":{"name":"ColourSystem"}},"backgroundColour":{"type":"string","format":"byte","xml":{"name":"BackgroundColour"}},"backgroundColourName":{"type":"string","xml":{"name":"BackgroundColourName"}},"textColour":{"type":"string","format":"byte","xml":{"name":"TextColour"}},"textColourName":{"type":"string","xml":{"name":"TextColourName"}},"textFont":{"type":"string","xml":{"name":"TextFont"}},"textFontName":{"type":"string","xml":{"name":"TextFontName"}},"textLanguage":{"type":"string","xml":{"name":"TextLanguage"}},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"}}},"PrintPresentationStructure":{"type":"object","properties":{"colour":{"type":"string","xml":{"name":"Colour"}},"colourName":{"type":"string","xml":{"name":"ColourName"}},"colourSystem":{"type":"string","xml":{"name":"ColourSystem"}},"backgroundColour":{"type":"string","format":"byte","xml":{"name":"BackgroundColour"}},"backgroundColourName":{"type":"string","xml":{"name":"BackgroundColourName"}},"textColour":{"type":"string","xml":{"name":"TextColour"}},"textColourName":{"type":"string","xml":{"name":"TextColourName"}},"textFont":{"type":"string","xml":{"name":"TextFont"}},"textFontName":{"type":"string","xml":{"name":"TextFontName"}},"textLanguage":{"type":"string","xml":{"name":"TextLanguage"}},"fontSize":{"type":"string","xml":{"name":"FontSize"},"enum":["VERY_SMALL","SMALL","MEDIUM","LARGE","VERY_LARGE"]}}},"TariffZone":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"description":{"$ref":"#/components/schemas/MultilingualString"},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure"},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure"},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure"},"polygon":{"$ref":"#/components/schemas/PolygonType"},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure"},"presentation":{"$ref":"#/components/schemas/PresentationStructure"},"printedPresentation":{"$ref":"#/components/schemas/PrintPresentationStructure"}}},"JAXBElementTariffZone":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/TariffZone"},"nil":{"type":"boolean"},"globalScope":{"type":"boolean"},"typeSubstituted":{"type":"boolean"}}},"AccessSpaces_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"accessSpaceRefOrAccessSpace":{"type":"array","items":{"type":"object"}}}},"AccessibilityAssessment":{"required":["mobilityImpairedAccess"],"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"mobilityImpairedAccess":{"type":"string","xml":{"name":"MobilityImpairedAccess"},"enum":["TRUE","FALSE","UNKNOWN","PARTIAL"]},"limitations":{"$ref":"#/components/schemas/AccessibilityLimitations_RelStructure"},"suitabilities":{"$ref":"#/components/schemas/Suitabilities_RelStructure"},"comment":{"$ref":"#/components/schemas/MultilingualString"}}},"AccessibilityLimitation":{"required":["wheelchairAccess"],"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"wheelchairAccess":{"type":"string","xml":{"name":"WheelchairAccess"},"enum":["TRUE","FALSE","UNKNOWN","PARTIAL"]},"stepFreeAccess":{"type":"string","xml":{"name":"StepFreeAccess"},"enum":["TRUE","FALSE","UNKNOWN","PARTIAL"]},"escalatorFreeAccess":{"type":"string","xml":{"name":"EscalatorFreeAccess"},"enum":["TRUE","FALSE","UNKNOWN","PARTIAL"]},"liftFreeAccess":{"type":"string","xml":{"name":"LiftFreeAccess"},"enum":["TRUE","FALSE","UNKNOWN","PARTIAL"]},"audibleSignalsAvailable":{"type":"string","xml":{"name":"AudibleSignalsAvailable"},"enum":["TRUE","FALSE","UNKNOWN","PARTIAL"]},"visualSignsAvailable":{"type":"string","xml":{"name":"VisualSignsAvailable"},"enum":["TRUE","FALSE","UNKNOWN","PARTIAL"]}},"xml":{"name":"AccessibilityLimitation","namespace":"http://www.netex.org.uk/netex"}},"AccessibilityLimitations_RelStructure":{"required":["accessibilityLimitation"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"accessibilityLimitation":{"$ref":"#/components/schemas/AccessibilityLimitation"}}},"AddressRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"AlternativeName":{"required":["name"],"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"namedObjectRef":{"$ref":"#/components/schemas/VersionOfObjectRefStructure"},"lang":{"type":"string","xml":{"name":"Lang"}},"nameType":{"type":"string","xml":{"name":"NameType"},"enum":["ALIAS","TRANSLATION","COPY","LABEL","OTHER"]},"typeOfName":{"type":"string","xml":{"name":"TypeOfName"}},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"abbreviation":{"$ref":"#/components/schemas/MultilingualString"},"qualifierName":{"$ref":"#/components/schemas/MultilingualString"},"order":{"type":"integer","xml":{"attribute":true}}}},"AlternativeNames_RelStructure":{"required":["alternativeName"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"alternativeName":{"type":"array","xml":{"name":"AlternativeName"},"items":{"$ref":"#/components/schemas/AlternativeName"}}}},"ContactStructure":{"type":"object","properties":{"contactPerson":{"$ref":"#/components/schemas/MultilingualString"},"email":{"type":"string","xml":{"name":"Email"}},"phone":{"type":"string","xml":{"name":"Phone"}},"fax":{"type":"string","xml":{"name":"Fax"}},"url":{"type":"string","xml":{"name":"Url"}},"furtherDetails":{"$ref":"#/components/schemas/MultilingualString"}}},"EquipmentPlaces_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"equipmentPlaceRefOrEquipmentPlace":{"type":"array","items":{"type":"object"}}}},"ExplicitEquipments_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"installedEquipmentRefOrInstalledEquipmentOrLocalServiceRef":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}}},"JAXBElementStopPlacesInFrame_RelStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/StopPlacesInFrame_RelStructure"},"nil":{"type":"boolean"},"globalScope":{"type":"boolean"},"typeSubstituted":{"type":"boolean"}}},"LanguageUsageStructure":{"required":["language","languageUse"],"type":"object","properties":{"language":{"type":"string","xml":{"name":"Language"}},"languageUse":{"type":"array","xml":{"name":"LanguageUse"},"items":{"type":"string","xml":{"name":"LanguageUse"},"enum":["NORMALLY_USED","UNDERSTOOD","NATIVE","SPOKEN","WRITTEN","READ","OTHER","ALL_USES"]}}}},"Languages":{"type":"object","properties":{"languageUsage":{"type":"array","xml":{"name":"LanguageUsage"},"items":{"$ref":"#/components/schemas/LanguageUsageStructure"}}}},"Levels_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"levelRefOrLevel":{"type":"array","items":{"type":"object"}}}},"LocalServices_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"localServiceRefOrLocalService":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}}},"LocaleStructure":{"type":"object","properties":{"timeZoneOffset":{"type":"number","xml":{"name":"TimeZoneOffset"}},"timeZone":{"type":"string","xml":{"name":"TimeZone"}},"summerTimeZoneOffset":{"type":"number","xml":{"name":"SummerTimeZoneOffset"}},"summerTimeZone":{"type":"string","xml":{"name":"SummerTimeZone"}},"defaultLanguage":{"type":"string","xml":{"name":"DefaultLanguage"}},"languages":{"$ref":"#/components/schemas/Languages"}}},"NavigationPaths_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"navigationPathRefOrNavigationPath":{"type":"array","items":{"type":"object"}}}},"Organisation_DerivedViewStructure":{"type":"object","properties":{"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"id":{"type":"string","xml":{"attribute":true}},"organisationRef":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"legalName":{"$ref":"#/components/schemas/MultilingualString"},"tradingName":{"$ref":"#/components/schemas/MultilingualString"},"alternativeNames":{"$ref":"#/components/schemas/AlternativeNames_RelStructure"},"contactDetails":{"$ref":"#/components/schemas/ContactStructure"}}},"PathJunctions_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"pathJunctionRefOrPathJunction":{"type":"array","items":{"type":"object"}}}},"PlaceEquipments_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"installedEquipmentRefOrInstalledEquipment":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}}},"PostalAddress":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"description":{"$ref":"#/components/schemas/MultilingualString"},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure"},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure"},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure"},"polygon":{"$ref":"#/components/schemas/PolygonType"},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure"},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"countryRef":{"$ref":"#/components/schemas/CountryRef"},"countryName":{"$ref":"#/components/schemas/MultilingualString"},"houseNumber":{"type":"string","xml":{"name":"HouseNumber"}},"buildingName":{"$ref":"#/components/schemas/MultilingualString"},"addressLine1":{"$ref":"#/components/schemas/MultilingualString"},"addressLine2":{"$ref":"#/components/schemas/MultilingualString"},"street":{"$ref":"#/components/schemas/MultilingualString"},"town":{"$ref":"#/components/schemas/MultilingualString"},"suburb":{"$ref":"#/components/schemas/MultilingualString"},"postCode":{"type":"string","xml":{"name":"PostCode"}},"postCodeExtension":{"type":"string","xml":{"name":"PostCodeExtension"}},"postalRegion":{"type":"string","xml":{"name":"PostalRegion"}},"province":{"$ref":"#/components/schemas/MultilingualString"},"roadAddressRef":{"$ref":"#/components/schemas/AddressRefStructure"}}},"Quays_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"quayRefOrQuay":{"type":"array","items":{"type":"object"}}}},"RoadAddress":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"description":{"$ref":"#/components/schemas/MultilingualString"},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure"},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure"},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure"},"polygon":{"$ref":"#/components/schemas/PolygonType"},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure"},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"countryRef":{"$ref":"#/components/schemas/CountryRef"},"countryName":{"$ref":"#/components/schemas/MultilingualString"},"gisFeatureRef":{"type":"string","xml":{"name":"GisFeatureRef"}},"roadNumber":{"type":"string","xml":{"name":"RoadNumber"}},"roadName":{"$ref":"#/components/schemas/MultilingualString"},"bearingCompass":{"type":"string","xml":{"name":"BearingCompass"},"enum":["SW","SE","NW","NE","W","E","S","N"]},"bearingDegrees":{"type":"integer","xml":{"name":"BearingDegrees"}},"oddNumberRange":{"$ref":"#/components/schemas/RoadNumberRangeStructure"},"evenNumberRange":{"$ref":"#/components/schemas/RoadNumberRangeStructure"}}},"RoadNumberRangeStructure":{"type":"object","properties":{"fromNumber":{"type":"integer","xml":{"name":"FromNumber"}},"toNumber":{"type":"integer","xml":{"name":"ToNumber"}}}},"SiteEntrances_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"entranceRefOrEntrance":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}}},"SiteFacilitySets_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"siteFacilitySetRefOrSiteFacilitySet":{"type":"array","items":{"type":"object"}}}},"SitePathLinks_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"pathLinkRefOrSitePathLink":{"type":"array","items":{"type":"object"}}}},"SiteRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"SiteRefs_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"siteRef":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}}}}},"StopPlace":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"description":{"$ref":"#/components/schemas/MultilingualString"},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure"},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure"},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure"},"polygon":{"$ref":"#/components/schemas/PolygonType"},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure"},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"url":{"type":"string","xml":{"name":"Url"}},"image":{"type":"string","xml":{"name":"Image"}},"postalAddress":{"$ref":"#/components/schemas/PostalAddress"},"roadAddress":{"$ref":"#/components/schemas/RoadAddress"},"accessibilityAssessment":{"$ref":"#/components/schemas/AccessibilityAssessment"},"accessModes":{"type":"array","xml":{"name":"AccessModes"},"items":{"type":"string","xml":{"name":"AccessModes"},"enum":["FOOT","BICYCLE","BOAT","CAR","TAXI","SHUTTLE","SKI","SKATE"]}},"nameSuffix":{"$ref":"#/components/schemas/MultilingualString"},"alternativeNames":{"$ref":"#/components/schemas/AlternativeNames_RelStructure"},"crossRoad":{"$ref":"#/components/schemas/MultilingualString"},"landmark":{"$ref":"#/components/schemas/MultilingualString"},"publicUse":{"type":"string","xml":{"name":"PublicUse"},"enum":["ALL","DISABLED_PUBLIC_ONLY","AUTHORISED_PUBLIC_ONLY","STAFF_ONLY","PUBLIC_ONLY"]},"covered":{"type":"string","xml":{"name":"Covered"},"enum":["INDOORS","OUTDOORS","COVERED","MIXED","UNKNOWN"]},"gated":{"type":"string","xml":{"name":"Gated"},"enum":["GATED_AREA","OPEN_AREA","UNKNOWN"]},"lighting":{"type":"string","xml":{"name":"Lighting"},"enum":["WELL_LIT","POORLY_LIT","UNLIT","UNKNOWN","OTHER"]},"allAreasWheelchairAccessible":{"type":"boolean","xml":{"name":"AllAreasWheelchairAccessible"},"default":true},"personCapacity":{"type":"integer","xml":{"name":"PersonCapacity"}},"facilities":{"$ref":"#/components/schemas/SiteFacilitySets_RelStructure"},"topographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"},"topographicPlaceView":{"$ref":"#/components/schemas/TopographicPlaceView"},"additionalTopographicPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"siteType":{"type":"string","xml":{"name":"SiteType"},"enum":["SCHOOL","UNIVERSITY","WORKS","OFFICE","MILITARY_BASE","RETAIL","OTHER"]},"atCentre":{"type":"boolean","xml":{"name":"AtCentre"}},"locale":{"$ref":"#/components/schemas/LocaleStructure"},"organisationRef":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}},"operatingOrganisationView":{"$ref":"#/components/schemas/Organisation_DerivedViewStructure"},"parentSiteRef":{"$ref":"#/components/schemas/SiteRefStructure"},"adjacentSites":{"$ref":"#/components/schemas/SiteRefs_RelStructure"},"containedInPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"},"levels":{"$ref":"#/components/schemas/Levels_RelStructure"},"entrances":{"$ref":"#/components/schemas/SiteEntrances_RelStructure"},"equipmentPlaces":{"$ref":"#/components/schemas/EquipmentPlaces_RelStructure"},"placeEquipments":{"$ref":"#/components/schemas/PlaceEquipments_RelStructure"},"localServices":{"$ref":"#/components/schemas/LocalServices_RelStructure"},"publicCode":{"type":"string","xml":{"name":"PublicCode"}},"transportMode":{"type":"string","xml":{"name":"TransportMode"},"enum":["AIR","BUS","COACH","FERRY","METRO","RAIL","TROLLEY_BUS","TRAM","WATER","CABLEWAY","FUNICULAR","LIFT","SNOW_AND_ICE","OTHER"]},"airSubmode":{"type":"string","xml":{"name":"AirSubmode"},"enum":["UNKNOWN","UNDEFINED","INTERNATIONAL_FLIGHT","DOMESTIC_FLIGHT","INTERCONTINENTAL_FLIGHT","DOMESTIC_SCHEDULED_FLIGHT","SHUTTLE_FLIGHT","INTERCONTINENTAL_CHARTER_FLIGHT","INTERNATIONAL_CHARTER_FLIGHT","ROUND_TRIP_CHARTER_FLIGHT","SIGHTSEEING_FLIGHT","HELICOPTER_SERVICE","DOMESTIC_CHARTER_FLIGHT","SCHENGEN_AREA_FLIGHT","AIRSHIP_SERVICE","SHORT_HAUL_INTERNATIONAL_FLIGHT"]},"busSubmode":{"type":"string","xml":{"name":"BusSubmode"},"enum":["UNKNOWN","UNDEFINED","LOCAL_BUS","REGIONAL_BUS","EXPRESS_BUS","NIGHT_BUS","POST_BUS","SPECIAL_NEEDS_BUS","MOBILITY_BUS","MOBILITY_BUS_FOR_REGISTERED_DISABLED","SIGHTSEEING_BUS","SHUTTLE_BUS","HIGH_FREQUENCY_BUS","DEDICATED_LANE_BUS","SCHOOL_BUS","SCHOOL_AND_PUBLIC_SERVICE_BUS","RAIL_REPLACEMENT_BUS","DEMAND_AND_RESPONSE_BUS","AIRPORT_LINK_BUS"]},"coachSubmode":{"type":"string","xml":{"name":"CoachSubmode"},"enum":["UNKNOWN","UNDEFINED","INTERNATIONAL_COACH","NATIONAL_COACH","SHUTTLE_COACH","REGIONAL_COACH","SPECIAL_COACH","SCHOOL_COACH","SIGHTSEEING_COACH","TOURIST_COACH","COMMUTER_COACH"]},"funicularSubmode":{"type":"string","xml":{"name":"FunicularSubmode"},"enum":["UNKNOWN","FUNICULAR","STREET_CABLE_CAR","ALL_FUNICULAR_SERVICES","UNDEFINED_FUNICULAR"]},"metroSubmode":{"type":"string","xml":{"name":"MetroSubmode"},"enum":["UNKNOWN","UNDEFINED","METRO","TUBE","URBAN_RAILWAY"]},"tramSubmode":{"type":"string","xml":{"name":"TramSubmode"},"enum":["UNKNOWN","UNDEFINED","CITY_TRAM","LOCAL_TRAM","REGIONAL_TRAM","SIGHTSEEING_TRAM","SHUTTLE_TRAM","TRAIN_TRAM"]},"telecabinSubmode":{"type":"string","xml":{"name":"TelecabinSubmode"},"enum":["UNKNOWN","UNDEFINED","TELECABIN","CABLE_CAR","LIFT","CHAIR_LIFT","DRAG_LIFT","TELECABIN_LINK"]},"railSubmode":{"type":"string","xml":{"name":"RailSubmode"},"enum":["UNKNOWN","LOCAL","HIGH_SPEED_RAIL","SUBURBAN_RAILWAY","REGIONAL_RAIL","INTERREGIONAL_RAIL","LONG_DISTANCE","INTERNATIONAL","SLEEPER_RAIL_SERVICE","NIGHT_RAIL","CAR_TRANSPORT_RAIL_SERVICE","TOURIST_RAILWAY","AIRPORT_LINK_RAIL","RAIL_SHUTTLE","REPLACEMENT_RAIL_SERVICE","SPECIAL_TRAIN","CROSS_COUNTRY_RAIL","RACK_AND_PINION_RAILWAY"]},"waterSubmode":{"type":"string","xml":{"name":"WaterSubmode"},"enum":["UNKNOWN","UNDEFINED","INTERNATIONAL_CAR_FERRY","NATIONAL_CAR_FERRY","REGIONAL_CAR_FERRY","LOCAL_CAR_FERRY","INTERNATIONAL_PASSENGER_FERRY","NATIONAL_PASSENGER_FERRY","REGIONAL_PASSENGER_FERRY","LOCAL_PASSENGER_FERRY","POST_BOAT","TRAIN_FERRY","ROAD_FERRY_LINK","AIRPORT_BOAT_LINK","HIGH_SPEED_VEHICLE_SERVICE","HIGH_SPEED_PASSENGER_SERVICE","SIGHTSEEING_SERVICE","SCHOOL_BOAT","CABLE_FERRY","RIVER_BUS","SCHEDULED_FERRY","SHUTTLE_FERRY_SERVICE","CANAL_BARGE"]},"snowAndIceSubmode":{"type":"string","xml":{"name":"SnowAndIceSubmode"},"enum":["UNKNOWN","UNDEFINED","SNOW_MOBILE","SNOW_CAT","SNOW_COACH","TERRA_BUS","WIND_SLED"]},"otherTransportModes":{"type":"array","xml":{"name":"OtherTransportModes"},"items":{"type":"string","xml":{"name":"OtherTransportModes"},"enum":["AIR","BUS","COACH","FERRY","METRO","RAIL","TROLLEY_BUS","TRAM","WATER","CABLEWAY","FUNICULAR","LIFT","SNOW_AND_ICE","OTHER"]}},"tariffZones":{"$ref":"#/components/schemas/TariffZoneRefs_RelStructure"},"stopPlaceType":{"type":"string","xml":{"name":"StopPlaceType"},"enum":["ONSTREET_BUS","ONSTREET_TRAM","AIRPORT","RAIL_STATION","METRO_STATION","BUS_STATION","COACH_STATION","TRAM_STATION","HARBOUR_PORT","FERRY_PORT","FERRY_STOP","LIFT_STATION","VEHICLE_RAIL_INTERCHANGE","OTHER"]},"borderCrossing":{"type":"boolean","xml":{"name":"BorderCrossing"},"default":false},"unlocalisedEquipments":{"$ref":"#/components/schemas/ExplicitEquipments_RelStructure"},"servedPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"mainTerminusForPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"limitedUse":{"type":"string","xml":{"name":"LimitedUse"},"enum":["INTERCHANGE_ONLY","NO_DIRECT_ROAD_ACCESS","LONG_WALK_TO_ACCESS","ISOLATED","LIMITED_SERVICE","OTHER"]},"weighting":{"type":"string","xml":{"name":"Weighting"},"enum":["NO_INTERCHANGE","INTERCHANGE_ALLOWED","RECOMMENDED_INTERCHANGE","PREFERRED_INTERCHANGE"]},"stopPlaceWeight":{"type":"string","xml":{"name":"StopPlaceWeight"},"enum":["INTERNATIONAL","NATIONAL","REGIONAL","LOCAL"]},"quays":{"$ref":"#/components/schemas/Quays_RelStructure"},"accessSpaces":{"$ref":"#/components/schemas/AccessSpaces_RelStructure"},"pathLinks":{"$ref":"#/components/schemas/SitePathLinks_RelStructure"},"pathJunctions":{"$ref":"#/components/schemas/PathJunctions_RelStructure"},"accesses":{"$ref":"#/components/schemas/Accesses_RelStructure"},"navigationPaths":{"$ref":"#/components/schemas/NavigationPaths_RelStructure"},"vehicleStoppingPlaces":{"$ref":"#/components/schemas/VehicleStoppingPlaces_RelStructure"}}},"StopPlacesInFrame_RelStructure":{"required":["stopPlace"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"stopPlace":{"type":"array","xml":{"name":"StopPlace"},"items":{"$ref":"#/components/schemas/StopPlace"}}}},"Suitabilities_RelStructure":{"required":["suitability"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"suitability":{"type":"array","xml":{"name":"Suitability"},"items":{"$ref":"#/components/schemas/Suitability"}}}},"Suitability":{"required":["suitable"],"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"mobilityNeed":{"type":"string","xml":{"name":"MobilityNeed"},"enum":["WHEELCHAIR","ASSISTED_WHEELCHAIR","MOTORIZED_WHEELCHAIR","MOBILITY_SCOOTER","ROAD_MOBILITY_SCOOTER","WALKING_FRAME","RESTRICTED_MOBILITY","OTHER_MOBILITY_NEED","NORMAL"]},"psychosensoryNeed":{"type":"string","xml":{"name":"PsychosensoryNeed"},"enum":["VISUAL_IMPAIRMENT","AUDITORY_IMPAIRMENT","COGNITIVE_INPUT_IMPAIRMENT","AVERSE_TO_LIFTS","AVERSE_TO_ESCALATORS","AVERSE_TO_CONFINED_SPACES","AVERSE_TO_CROWDS","OTHER_PSYCHOSENSORY_NEED"]},"medicalNeed":{"type":"string","xml":{"name":"MedicalNeed"},"enum":["ALLERGIC","HEART_CONDITION","OTHER_MEDICAL_NEED"]},"encumbranceNeed":{"type":"string","xml":{"name":"EncumbranceNeed"},"enum":["LUGGAGE_ENCUMBERED","PUSHCHAIR","BAGGAGE_TROLLEY","OVERSIZE_BAGGAGE","GUIDE_DOG","OTHER_ANIMAL","OTHER_ENCUMBRANCE_NEED"]},"excluded":{"type":"boolean","xml":{"name":"Excluded"}},"needRanking":{"type":"integer","xml":{"name":"NeedRanking"}},"suitable":{"type":"string","xml":{"name":"Suitable"},"enum":["SUITABLE","NOT_SUITABLE"]}},"xml":{"name":"Suitability","namespace":"http://www.netex.org.uk/netex"}},"TariffZoneRef":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"TariffZoneRefs_RelStructure":{"required":["tariffZoneRef"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"tariffZoneRef":{"type":"array","xml":{"name":"TariffZoneRef"},"items":{"$ref":"#/components/schemas/TariffZoneRef"}}}},"TopographicPlaceView":{"type":"object","properties":{"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"id":{"type":"string","xml":{"attribute":true}},"topographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"qualifierName":{"$ref":"#/components/schemas/MultilingualString"},"countryRef":{"$ref":"#/components/schemas/CountryRef"}}},"VehicleStoppingPlaces_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"vehicleStoppingPlaceRefOrVehicleStoppingPlace":{"type":"array","items":{"type":"object"}}}},"JAXBElementStopPlace":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/StopPlace"},"nil":{"type":"boolean"},"globalScope":{"type":"boolean"},"typeSubstituted":{"type":"boolean"}}},"JAXBElementParkingsInFrame_RelStructure":{"type":"object","properties":{"name":{"type":"object","properties":{"namespaceURI":{"type":"string"},"localPart":{"type":"string"},"prefix":{"type":"string"}}},"value":{"$ref":"#/components/schemas/ParkingsInFrame_RelStructure"},"nil":{"type":"boolean"},"globalScope":{"type":"boolean"},"typeSubstituted":{"type":"boolean"}}},"Parking":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"keyList":{"$ref":"#/components/schemas/KeyListStructure"},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"brandingRef":{"$ref":"#/components/schemas/BrandingRefStructure"},"responsibilitySetRef":{"type":"string","xml":{"attribute":true}},"name":{"$ref":"#/components/schemas/MultilingualString"},"shortName":{"$ref":"#/components/schemas/MultilingualString"},"description":{"$ref":"#/components/schemas/MultilingualString"},"purposeOfGroupingRef":{"$ref":"#/components/schemas/PurposeOfGroupingRefStructure"},"privateCode":{"$ref":"#/components/schemas/PrivateCodeStructure"},"infoLinks":{"$ref":"#/components/schemas/InfoLinks"},"members":{"$ref":"#/components/schemas/PointRefs_RelStructure"},"types":{"$ref":"#/components/schemas/TypeOfZoneRefs_RelStructure"},"centroid":{"$ref":"#/components/schemas/SimplePoint_VersionStructure"},"polygon":{"$ref":"#/components/schemas/PolygonType"},"projections":{"$ref":"#/components/schemas/Projections_RelStructure"},"parentZoneRef":{"$ref":"#/components/schemas/ZoneRefStructure"},"placeTypes":{"$ref":"#/components/schemas/TypeOfPlaceRefs_RelStructure"},"url":{"type":"string","xml":{"name":"Url"}},"image":{"type":"string","xml":{"name":"Image"}},"postalAddress":{"$ref":"#/components/schemas/PostalAddress"},"roadAddress":{"$ref":"#/components/schemas/RoadAddress"},"accessibilityAssessment":{"$ref":"#/components/schemas/AccessibilityAssessment"},"accessModes":{"type":"array","xml":{"name":"AccessModes"},"items":{"type":"string","xml":{"name":"AccessModes"},"enum":["FOOT","BICYCLE","BOAT","CAR","TAXI","SHUTTLE","SKI","SKATE"]}},"nameSuffix":{"$ref":"#/components/schemas/MultilingualString"},"alternativeNames":{"$ref":"#/components/schemas/AlternativeNames_RelStructure"},"crossRoad":{"$ref":"#/components/schemas/MultilingualString"},"landmark":{"$ref":"#/components/schemas/MultilingualString"},"publicUse":{"type":"string","xml":{"name":"PublicUse"},"enum":["ALL","DISABLED_PUBLIC_ONLY","AUTHORISED_PUBLIC_ONLY","STAFF_ONLY","PUBLIC_ONLY"]},"covered":{"type":"string","xml":{"name":"Covered"},"enum":["INDOORS","OUTDOORS","COVERED","MIXED","UNKNOWN"]},"gated":{"type":"string","xml":{"name":"Gated"},"enum":["GATED_AREA","OPEN_AREA","UNKNOWN"]},"lighting":{"type":"string","xml":{"name":"Lighting"},"enum":["WELL_LIT","POORLY_LIT","UNLIT","UNKNOWN","OTHER"]},"allAreasWheelchairAccessible":{"type":"boolean","xml":{"name":"AllAreasWheelchairAccessible"},"default":true},"personCapacity":{"type":"integer","xml":{"name":"PersonCapacity"}},"facilities":{"$ref":"#/components/schemas/SiteFacilitySets_RelStructure"},"topographicPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"},"topographicPlaceView":{"$ref":"#/components/schemas/TopographicPlaceView"},"additionalTopographicPlaces":{"$ref":"#/components/schemas/TopographicPlaceRefs_RelStructure"},"siteType":{"type":"string","xml":{"name":"SiteType"},"enum":["SCHOOL","UNIVERSITY","WORKS","OFFICE","MILITARY_BASE","RETAIL","OTHER"]},"atCentre":{"type":"boolean","xml":{"name":"AtCentre"}},"locale":{"$ref":"#/components/schemas/LocaleStructure"},"organisationRef":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"object"}}},"operatingOrganisationView":{"$ref":"#/components/schemas/Organisation_DerivedViewStructure"},"parentSiteRef":{"$ref":"#/components/schemas/SiteRefStructure"},"adjacentSites":{"$ref":"#/components/schemas/SiteRefs_RelStructure"},"containedInPlaceRef":{"$ref":"#/components/schemas/TopographicPlaceRefStructure"},"levels":{"$ref":"#/components/schemas/Levels_RelStructure"},"entrances":{"$ref":"#/components/schemas/SiteEntrances_RelStructure"},"equipmentPlaces":{"$ref":"#/components/schemas/EquipmentPlaces_RelStructure"},"placeEquipments":{"$ref":"#/components/schemas/PlaceEquipments_RelStructure"},"localServices":{"$ref":"#/components/schemas/LocalServices_RelStructure"},"pathLinks":{"$ref":"#/components/schemas/SitePathLinks_RelStructure"},"pathJunctions":{"$ref":"#/components/schemas/PathJunctions_RelStructure"},"accesses":{"$ref":"#/components/schemas/Accesses_RelStructure"},"navigationPaths":{"$ref":"#/components/schemas/NavigationPaths_RelStructure"},"publicCode":{"type":"string","xml":{"name":"PublicCode"}},"label":{"$ref":"#/components/schemas/MultilingualString"},"parkingType":{"type":"string","xml":{"name":"ParkingType"},"enum":["PARK_AND_RIDE","LIFT_SHARE_PARKING","URBAN_PARKING","AIRPORT_PARKING","TRAIN_STATION_PARKING","EXHIBITION_CENTRE_PARKING","RENTAL_CAR_PARKING","SHOPPING_CENTRE_PARKING","MOTORWAY_PARKING","ROADSIDE","PARKING_ZONE","UNDEFINED","CYCLE_RENTAL","OTHER"]},"parkingVehicleTypes":{"type":"array","xml":{"name":"ParkingVehicleTypes"},"items":{"type":"string","xml":{"name":"ParkingVehicleTypes"},"enum":["PEDAL_CYCLE","MOPED","MOTORCYCLE","MOTORCYCLE_WITH_SIDECAR","MOTOR_SCOOTER","TWO_WHEELED_VEHICLE","THREE_WHEELED_VEHICLE","CAR","SMALL_CAR","PASSENGER_CAR","LARGE_CAR","FOUR_WHEEL_DRIVE","TAXI","CAMPER_CAR","CAR_WITH_TRAILER","CAR_WITH_CARAVAN","MINIBUS","BUS","VAN","LARGE_VAN","HIGH_SIDED_VEHICLE","LIGHT_GOODS_VEHICLE","HEAVY_GOODS_VEHICLE","AGRICULTURAL_VEHICLE","TANKER","TRUCK","TRAM","ARTICULATED_VEHICLE","VEHICLE_WITH_TRAILER","LIGHT_GOODS_VEHICLE_WITH_TRAILER","HEAVY_GOODS_VEHICLE_WITH_TRAILER","UNDEFINED","OTHER","ALL_PASSENGER_VEHICLES","ALL"]}},"parkingLayout":{"type":"string","xml":{"name":"ParkingLayout"},"enum":["COVERED","OPEN_SPACE","MULTISTOREY","UNDERGROUND","ROADSIDE","UNDEFINED","OTHER","CYCLE_HIRE"]},"numberOfParkingLevels":{"type":"integer","xml":{"name":"NumberOfParkingLevels"}},"principalCapacity":{"type":"integer","xml":{"name":"PrincipalCapacity"}},"totalCapacity":{"type":"integer","xml":{"name":"TotalCapacity"}},"overnightParkingPermitted":{"type":"boolean","xml":{"name":"OvernightParkingPermitted"}},"prohibitedForHazardousMaterials":{"type":"boolean","xml":{"name":"ProhibitedForHazardousMaterials"},"default":true},"rechargingAvailable":{"type":"boolean","xml":{"name":"RechargingAvailable"}},"secure":{"type":"boolean","xml":{"name":"Secure"}},"realTimeOccupancyAvailable":{"type":"boolean","xml":{"name":"RealTimeOccupancyAvailable"}},"parkingPaymentProcess":{"type":"array","xml":{"name":"ParkingPaymentProcess"},"items":{"type":"string","xml":{"name":"ParkingPaymentProcess"},"enum":["FREE","PAY_AT_BAY","PAY_AND_DISPLAY","PAY_AT_EXIT_BOOTH_MANUAL_COLLECTION","PAY_AT_MACHINE_ON_FOOT_PRIOR_TO_EXIT","PAY_BY_PREPAID_TOKEN","PAY_BY_MOBILE_DEVICE","UNDEFINED","OTHER"]}},"paymentMethods":{"type":"array","xml":{"name":"PaymentMethods"},"items":{"type":"string","xml":{"name":"PaymentMethods"},"enum":["CASH","CASH_EXACT_CHANGE_ONLY","CASH_AND_CARD","COIN","BANKNOTE","CHEQUE","TRAVELLERS_CHEQUE","POSTAL_ORDER","COMPANY_CHEQUE","CREDIT_CARD","DEBIT_CARD","CARDS_ONLY","TRAVEL_CARD","CONTACTLESS_PAYMENT_CARD","CONTACTLESS_TRAVEL_CARD","DIRECT_DEBIT","BANK_TRANSFER","EPAY_DEVICE","EPAY_ACCOUNT","SMS","MOBILE_PHONE","VOUCHER","TOKEN","WARRANT","MILEAGE_POINTS","OTHER"]}},"typesOfPaymentMethod":{"$ref":"#/components/schemas/TypeOfPaymentMethodRefs_RelStructure"},"defaultCurrency":{"type":"string","xml":{"name":"DefaultCurrency"}},"currenciesAccepted":{"type":"array","xml":{"name":"CurrenciesAccepted"},"items":{"type":"string","xml":{"name":"CurrenciesAccepted"}}},"cardsAccepted":{"type":"array","xml":{"name":"CardsAccepted"},"items":{"type":"string","xml":{"name":"CardsAccepted"}}},"parkingReservation":{"type":"string","xml":{"name":"ParkingReservation"},"enum":["RESERVATION_REQUIRED","RESERVATION_ALLOWED","NO_RESERVATIONS","REGISTRATION_REQUIRED","OTHER"]},"bookingUrl":{"type":"string","xml":{"name":"BookingUrl"}},"paymentByMobile":{"$ref":"#/components/schemas/PaymentByMobileStructure"},"freeParkingOutOfHours":{"type":"boolean","xml":{"name":"FreeParkingOutOfHours"},"default":true},"parkingProperties":{"$ref":"#/components/schemas/ParkingProperties_RelStructure"},"parkingAreas":{"$ref":"#/components/schemas/ParkingAreas_RelStructure"},"vehicleEntrances":{"$ref":"#/components/schemas/ParkingEntrancesForVehicles_RelStructure"}}},"ParkingAreaRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"ParkingAreaRefs_RelStructure":{"required":["parkingAreaRef"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"parkingAreaRef":{"type":"array","xml":{"name":"ParkingAreaRef"},"items":{"$ref":"#/components/schemas/ParkingAreaRefStructure"}}}},"ParkingAreas_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"parkingAreaRefOrParkingArea":{"type":"array","items":{"type":"object"}}}},"ParkingCapacities_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"parkingCapacityRefOrParkingCapacity":{"type":"array","items":{"type":"object"}}}},"ParkingEntrancesForVehicles_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"parkingEntranceForVehiclesRefOrParkingEntranceForVehicles":{"type":"array","items":{"type":"object"}}}},"ParkingProperties":{"type":"object","properties":{"nameOfClass":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}},"validityConditions":{"$ref":"#/components/schemas/ValidityConditions_RelStructure"},"validBetween":{"type":"array","xml":{"name":"ValidBetween"},"items":{"$ref":"#/components/schemas/ValidBetween"}},"alternativeTexts":{"$ref":"#/components/schemas/AlternativeTexts_RelStructure"},"dataSourceRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"version":{"type":"string","xml":{"attribute":true}},"status_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"status","attribute":true},"enum":["ACTIVE","INACTIVE","OTHER"]},"publication":{"type":"string","xml":{"attribute":true},"enum":["PUBLIC","RESTRICTED","PRIVATE","CONFIDENTIAL","AUTHORISED","TEST"]},"derivedFromVersionRef_BasicModificationDetailsGroup":{"type":"string","xml":{"name":"derivedFromVersionRef","attribute":true}},"compatibleWithVersionFrameVersionRef":{"type":"string","xml":{"attribute":true}},"derivedFromObjectRef":{"type":"string","xml":{"attribute":true}},"extensions":{"$ref":"#/components/schemas/ExtensionsStructure"},"parkingRef":{"$ref":"#/components/schemas/ParkingRefStructure"},"parkingUserTypes":{"type":"array","xml":{"name":"ParkingUserTypes"},"items":{"type":"string","xml":{"name":"ParkingUserTypes"},"enum":["ALL_USERS","STAFF","VISITORS","REGISTERED_DISABLED","REGISTERED","RENTAL","DOCTORS","RESIDENTS_WITH_PERMITS","RESERVATION_HOLDERS","EMERGENCY_SERVICES","OTHER","ALL"]}},"parkingVehicleTypes":{"type":"array","xml":{"name":"ParkingVehicleTypes"},"items":{"type":"string","xml":{"name":"ParkingVehicleTypes"},"enum":["PEDAL_CYCLE","MOPED","MOTORCYCLE","MOTORCYCLE_WITH_SIDECAR","MOTOR_SCOOTER","TWO_WHEELED_VEHICLE","THREE_WHEELED_VEHICLE","CAR","SMALL_CAR","PASSENGER_CAR","LARGE_CAR","FOUR_WHEEL_DRIVE","TAXI","CAMPER_CAR","CAR_WITH_TRAILER","CAR_WITH_CARAVAN","MINIBUS","BUS","VAN","LARGE_VAN","HIGH_SIDED_VEHICLE","LIGHT_GOODS_VEHICLE","HEAVY_GOODS_VEHICLE","AGRICULTURAL_VEHICLE","TANKER","TRUCK","TRAM","ARTICULATED_VEHICLE","VEHICLE_WITH_TRAILER","LIGHT_GOODS_VEHICLE_WITH_TRAILER","HEAVY_GOODS_VEHICLE_WITH_TRAILER","UNDEFINED","OTHER","ALL_PASSENGER_VEHICLES","ALL"]}},"parkingStayList":{"type":"array","xml":{"name":"ParkingStayList"},"items":{"type":"string","xml":{"name":"ParkingStayList"},"enum":["SHORT_STAY","MID_TERM","LONG_TERM","DROPOFF","UNLIMITED","OTHER","ALL"]}},"maximumStay":{"type":"object","properties":{"seconds":{"type":"integer","format":"int64"},"zero":{"type":"boolean"},"nano":{"type":"integer","format":"int32"},"negative":{"type":"boolean"},"positive":{"type":"boolean"},"units":{"type":"array","items":{"type":"object","properties":{"durationEstimated":{"type":"boolean"},"duration":{"type":"object","properties":{"seconds":{"type":"integer","format":"int64"},"zero":{"type":"boolean"},"nano":{"type":"integer","format":"int32"},"negative":{"type":"boolean"},"positive":{"type":"boolean"}}},"timeBased":{"type":"boolean"},"dateBased":{"type":"boolean"}}}}},"xml":{"name":"MaximumStay"}},"areas":{"$ref":"#/components/schemas/ParkingAreaRefs_RelStructure"},"spaces":{"$ref":"#/components/schemas/ParkingCapacities_RelStructure"}}},"ParkingProperties_RelStructure":{"required":["parkingProperties"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"parkingProperties":{"type":"array","xml":{"name":"ParkingProperties"},"items":{"$ref":"#/components/schemas/ParkingProperties"}}}},"ParkingRefStructure":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}},"nameOfMemberClass":{"type":"string","xml":{"attribute":true}}}},"ParkingsInFrame_RelStructure":{"required":["parking"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"parking":{"type":"array","xml":{"name":"Parking"},"items":{"$ref":"#/components/schemas/Parking"}}}},"PaymentByMobileStructure":{"type":"object","properties":{"phoneNumberToPay":{"type":"string","xml":{"name":"PhoneNumberToPay"}},"supportPhoneNumber":{"type":"string","xml":{"name":"SupportPhoneNumber"}},"paymentUrl":{"type":"string","xml":{"name":"PaymentUrl"}},"paymentAppDownloadUrl":{"type":"string","xml":{"name":"PaymentAppDownloadUrl"}}}},"TypeOfPaymentMethodRef":{"type":"object","properties":{"value":{"type":"string"},"nameOfRefClass":{"type":"string","xml":{"attribute":true}},"modification":{"type":"string","xml":{"attribute":true},"enum":["NEW","REVISE","DELETE","UNCHANGED","DELTA"]},"ref":{"type":"string","xml":{"attribute":true}},"versionRef":{"type":"string","xml":{"attribute":true}},"created":{"type":"string","format":"date-time","xml":{"attribute":true}},"changed":{"type":"string","format":"date-time","xml":{"attribute":true}},"version":{"type":"string","xml":{"attribute":true}}}},"TypeOfPaymentMethodRefs_RelStructure":{"required":["typeOfPaymentMethodRef"],"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"typeOfPaymentMethodRef":{"type":"array","xml":{"name":"TypeOfPaymentMethodRef"},"items":{"$ref":"#/components/schemas/TypeOfPaymentMethodRef"}}}},"BoardingPositions_RelStructure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"modificationSet":{"type":"string","xml":{"attribute":true},"enum":["ALL","CHANGES_ONLY"]},"boardingPosit
[...]
